#middle-header {
    font-family: 'DynaPuff', system-ui;
    color: #ff8c5a; 
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff5f0;
    display: flex;
    justify-content: center;

}

.contract-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.contract-card {
    background: white;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.contract-card section {
    margin-bottom: 30px;
}

.contract-card h3 {
    font-family: 'DynaPuff', system-ui;
    color: #ff8c5a; 
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff5f0;
    display: inline-block;
}

.contract-card p {
    font-family: 'DynaPuff', system-ui;
    line-height: 1.8;
    color: #555;
    text-align: justify;
}

.block {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 2px dashed #ff8c5a;
    text-align: right;
}

.name {
    font-family: 'DynaPuff', system-ui;
    color: #ff8c5a;
    font-size: 1.8rem;
}

@media (max-width: 600px) {
    .contract-card {
        padding: 20px;
    }
    
    #middle-header h1 {
        font-size: 2rem;
    }
}